<h1>My Awesomes List</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Tag</th>
            <th scope="col">Url</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let awesome of awesomes">
        <tr>
            <td>{{awesome.tag}}</td>
            <td><a href="{{awesome.url}}">{{awesome.url}}</a></td>
            <td>{{awesome.descriptions}}</td>
            <td><a routerLink="{{awesome.id}}/edit">Edit</a></td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>